<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDbContextConnStr" connectionString="Data Source=10.191.141.66\sqlserver2012;Initial Catalog=DbExtensionTest;User ID=DbExtensionTest;Password=DbExtensionTestUser" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>